@import url('https://fonts.googleapis.com/css2?family=Acme&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #fcfcfc;
    min-height: 100vh;
    text-align: center;

    /* Generic project styles */
    color: #fcfcfc;
    font-family: 'Courier Prime', georgia, serif;
    font-weight: 400;
}

#logo {
    width: 100px;
    margin-top: 40px;
}

h1 {
    font-family: 'Acme', georgia, serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    color: #AB63E0;
}

/* repeat code to be used for any hidden element */
.hidden {
    display: none;
}

/* Remove underline and default colour for links*/
a {
    text-decoration: none;
    color: inherit;
}
/* Styling for all buttons using class "button" */
.button {
    color:#494949;
    text-align: center;
    background-color: #fcfcfc;
    border: solid 2px #a4e9b3;
    border-radius: 5px;
    font-family: 'Courier Prime', georgia, serif;
    font-weight: 700;
    padding: 10px;
    box-shadow: 4px 4px 4px #787878;
    margin:15px auto;
}

.button:hover {
    background-color:#fdd0d8;
    border-color: #AB63E0;
}

/* class designed to remove the appearance of hover function once an answer has been selected. */
.nohvr:hover {
  color:#494949;
  text-align: center;
  background-color: #fcfcfc;
  border: solid 2px #a4e9b3;
  border-radius: 5px;
  font-family: 'Courier Prime', georgia, serif;
  font-weight: 700;
  padding: 5px;
  box-shadow: 4px 4px 4px #787878;
  margin:15px auto;
}


/* Styling for all modals using class "modal" */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    background-color: rgba(114, 88, 107, 0.4)
}

/* Styling for the 'x' close trigger on a modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Main content */
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    }

/* quiz-box styling for the main box to be used on all pages */
.quiz-box {
    background-color: #708d74;
    width: 90vw;
    max-width: 700px;
    margin: 15px auto;
    box-shadow: 0 2px 2px #787878;
    border-radius: 15px;
}

/* quiz-box hero image styling */
.quiz-box img {    
    width: 90vw;
    max-width: 700px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0;
    margin-bottom: 15px;
}
/* Used for the questions and any sub-headings inside the box */
.quiz-box h2 {
    font-size: 125%;
    padding: 0 10px 15px 10px;
}

.quiz-box p {
    padding: 0 10px 15px 10px;
}

/* Styling for the instructions modal on welcome page */
#instructions-modal-content {
    color: #494949;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

#instructionsButton {
    align-self: center;
    margin-bottom: 20px;
  }

  /* styling for quiz-start div and start button */
#quiz-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

  #quiz-start-button {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
  }

  #quiz-start-button i {
    font-size: 175%;
    margin-top: 5px;
  }

  /* Questions Page styling */

  #question {
    align-self: center;
  }

  #answer-buttons {
    margin-bottom: 20px;
  }

  #answer-buttons .button {
    margin: 0 auto 10px;
    width: 80vw;
    max-width: 615px;
    padding: 15px;
    box-shadow: none;
  }

  .chosen-answer {
    background-color: #4f0585;
    color:#fcfcfc;
    border-color: darkmagenta;
  }

  .chosen-answer:hover {
    background-color: #4f0585;
    color:#fcfcfc;
    border-color: darkmagenta;
  }

  #next {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  #next-button {
    background: #4f0585;
    border-color: #AB63E0;
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
  }

  #change-answer-button {
    background: #3b4b3d ;
    border-color: #a4e9b3;
    color: #fcfcfc;
    font-weight: 400;
    display: none;  
  }

  #score-area {
    display: none;
  }

  /* RESULTS PAGE */
  #results-box {
    display: none;
    background-color: #708d74;
    width: 90vw;
    max-width: 700px;
    margin: 15px auto;
    box-shadow: 0 2px 2px #787878;
    border-radius: 15px;
  }

  #results-box h2 {
    margin-top: 30px;
    color:#4f0585;
  }

  #results {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
  }

  #results-summary {
    font-size: 110%;
    font-weight: 500;
    color: #fcfcfc;
  }

  .character-description {
    padding: 15px;
  }

  #results img {
    width: 80vw;
    max-width: 500px;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .character-results-box {
    background-color: #fcfcfc;
    color:#494949;
    width: 80vw;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 2px #787878;
    border-radius: 15px;
    gap: 20px;
  }

  .character-results-box h3 {
    font-size: 125%;
    font-weight: 700;
    color: #4f0585;
    margin-bottom: 10px;
  }

  #results-buttons {
    display:flex;
    flex-direction: column;
  }

  #restart-button {
    justify-content: flex-start;
    background: #3b4b3d ;
    border-color: #a4e9b3;
    color: #fcfcfc;
    font-weight: 400;
    padding: 10px;
  }

  #share-button {
    justify-content: flex-end;
    align-self: flex-end;
    border-color: #4f0585;    
  }

  /* 404 PAGE STYLING */

#message {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#message h2 {
  font-size: 200%;
  padding: 25px;
  color:#4f0585;
}

#message p {
  color: #494949;
}

/* FOOTER SECTION */
footer {
    color: #494949;
    font-size: 14px;
    font-weight: 500;
}
/* Asjusts the size and colour of the social media icons */
footer i {
    font-size: 175%;
    color: #7ea183;
}
/* Displays the social media icons side by side */
footer li {
    display: inline-block;
    margin: 5px 10px;
}

/* Media query for tablets and larger*/
@media screen and (min-width: 768px) {

  #results {
    display:flex;
    flex-direction: row;
    margin: auto;  
  }

  .character-results-box {
    background-color: #fcfcfc;
    color:#494949;
    width: 300px;
    /* margin: auto; */
    box-shadow: 0 2px 2px #787878;
    border-radius: 15px;
  }

  #results img {
    width: 300px;
  }
}